.order-book__container {
  display: grid;
  grid-template-rows: 1fr 2em 1fr;
  height: 500px;
  overflow-y: scroll;
}

.bids, .asks {
  overflow-y: auto;
}

.bids {
  background-color: #06ffd52a;
}

.asks {
  background-color: #f5262628;
}

.order-book__list {
  margin: 0;
  padding: 0 1em;
  list-style-type: none;
}

.order-book__current {
  text-align: center;
}

.order-book__list-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.order-book__list-item p {
  margin: 0.3em 0 0 0;
}

.green {
  color: #089981;
}

.red {
  color: #f23645;
}