.order-book__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 500px
}

.order-book__list {
  margin: 0;
  padding: 0 1em;
  list-style-type: none;
}

.order-book__list-item {
  display: flex;
  justify-content: space-between;
}